<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>qGo</string>
	<key>CFBundleIconFile</key>
	<string>qgo.icns</string>
	<key>CFBundleIdentifier</key>
	<string>qGo</string>
	<key>CFBundleName</key>
	<string>qGo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1</string>
	<key>CFBundleVersion</key>
	<string>1.5.1</string>
</dict>
</plist>
