[Desktop Entry]
Encoding=UTF-8
Comment=qgo
Exec=qgo
Icon=/usr/share/qGo/pics/Bowl.png
MimeType=text/plain;text/sfg;Application
Name=qgo
GenericName=Go
Name[fr]=qgo
GenericName[ar]=??
GenericName[bg]=??
GenericName[br]=c'hoari
GenericName[el]=???
GenericName[eo]=Goo
GenericName[fr]=Jeu de go
GenericName[ga]=Gó
GenericName[he]=??
GenericName[id]=Igo
GenericName[is]=Gó
GenericName[ja]=??
GenericName[jbo]=gos
GenericName[ko]=??
GenericName[la]=Igo
GenericName[mn]=??
GenericName[ru]=??
GenericName[th]=????????
GenericName[uk]=??
GenericName[vi]=C? vây
GenericName[zh]=??
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
X-KDE-StartupNotify=true